<ScrollView style="background-color: black">
	<StackLayout>
		<TextView row="0" style="margin-top: 15px" borderColor="#000000" borderWidth="1" class="title" text="Crédits" editable="false"></TextView>
		<TextView row="0" style="margin-top: 15px" borderColor="#000000" borderWidth="1" class="about" [text]="text" editable="false"></TextView>
		<TextView row="0" style="margin-top: 15px" borderColor="#000000" borderWidth="1" class="title" text="Principe de l'application" editable="false"></TextView>
		<TextView row="0" style="margin-top: 15px" borderColor="#000000" borderWidth="1" class="about" [text]="textPrincipe" editable="false"></TextView>
		<TextView row="0" style="margin-top: 15px" borderColor="#000000" borderWidth="1" class="title" text="Concernant la confidentialité" editable="false"></TextView>
		<TextView row="0" style="margin-top: 15px" borderColor="#000000" borderWidth="1" class="about" [text]="textReglementation" editable="false"></TextView>
</StackLayout>
</ScrollView>
