/*add-bar {
  background-color: rgb(0, 77, 128);
  padding: 5 30;
}
add-bar Image {
  height: 20;
  vertical-align: right;
  margin-left: 15;
  margin-right: 5;
}

TextField {
  color: black;
  font-family: 'Roboto Medium';
  font-size: 14;
}

.small-spacing {
  background-color: green;
  margin-left: 0;
  margin-right: 0;
  line-height: 40;
} */